In [77]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import  SVC
from sklearn.svm import SVR
from sklearn.datasets import load_boston
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt

In [7]:
path = r'C:\Users\sesa514967\Desktop\pthon'.replace('\\','/') + '/'
df = pd.read_excel(path + 'homework.xlsx')
df.columns = ['ID', 'crime rate', 'land zoned', 'non-retail business acres', 'Charles River', 'nitrogen oxides concentration', 'number of rooms', 'proportion of owner-occupied units', 'distances to employment centres', 'accessibility to radial highways', 'property-tax', 'pupil-teacher ratio', 'proportion of blacks', 'status of the population', 'value of owner-occupied homes']
df.head()

,ID,crime rate,land zoned,non-retail business acres,Charles River,nitrogen oxides concentration,number of rooms,proportion of owner-occupied units,distances to employment centres,accessibility to radial highways,property-tax,pupil-teacher ratio,proportion of blacks,status of the population,value of owner-occupied homes
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

посмотрим инф по данным

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
ID                                    333 non-null int64
crime rate                            333 non-null float64
land zoned                            333 non-null float64
non-retail business acres             333 non-null float64
Charles River                         333 non-null int64
nitrogen oxides concentration         333 non-null float64
number of rooms                       333 non-null float64
proportion of owner-occupied units    333 non-null float64
distances to employment centres       333 non-null float64
accessibility to radial highways      333 non-null int64
property-tax                          333 non-null int64
pupil-teacher ratio                   333 non-null float64
proportion of blacks                  333 non-null float64
status of the population              333 non-null float64
value of owner-occupied homes         333 non-null float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

пустых значений нет

In [9]:
df[list(['ID', 'crime rate', 'land zoned', 'non-retail business acres', 'Charles River', 'nitrogen oxides concentration', 'number of rooms', 'proportion of owner-occupied units', 'distances to employment centres', 'accessibility to radial highways', 'property-tax', 'pupil-teacher ratio', 'proportion of blacks', 'status of the population', 'value of owner-occupied homes'])] = df[list(['ID', 'crime rate', 'land zoned', 'non-retail business acres', 'Charles River', 'nitrogen oxides concentration', 'number of rooms', 'proportion of owner-occupied units', 'distances to employment centres', 'accessibility to radial highways', 'property-tax', 'pupil-teacher ratio', 'proportion of blacks', 'status of the population', 'value of owner-occupied homes'])].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
ID                                    333 non-null int32
crime rate                            333 non-null int32
land zoned                            333 non-null int32
non-retail business acres             333 non-null int32
Charles River                         333 non-null int32
nitrogen oxides concentration         333 non-null int32
number of rooms                       333 non-null int32
proportion of owner-occupied units    333 non-null int32
distances to employment centres       333 non-null int32
accessibility to radial highways      333 non-null int32
property-tax                          333 non-null int32
pupil-teacher ratio                   333 non-null int32
proportion of blacks                  333 non-null int32
status of the population              333 non-null int32
value of owner-occupied homes         333 non-null int32
dtypes: int32(15)
memory usage: 19.6 KB

посмотрим стат значения

In [10]:
df.describe()

,ID,crime rate,land zoned,non-retail business acres,Charles River,nitrogen oxides concentration,number of rooms,proportion of owner-occupied units,distances to employment centres,accessibility to radial highways,property-tax,pupil-teacher ratio,proportion of blacks,status of the population,value of owner-occupied homes
count,333.000000,333.000000,333.000000,333.000000,333.000000,333.0,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000
mean,250.951952,3.063063,10.675676,10.870871,0.060060,0.0,5.774775,67.798799,3.213213,9.633634,409.279279,18.075075,358.864865,12.015015,22.348348
std,147.859438,7.262645,22.666185,7.061146,0.237956,0.0,0.787913,28.196146,2.022361,8.742174,170.841988,2.262265,86.546194,7.071265,9.224050
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,3.000000,6.000000,1.000000,1.000000,188.000000,12.000000,3.000000,1.000000,5.000000
25%,123.000000,0.000000,0.000000,5.000000,0.000000,0.0,5.000000,45.000000,2.000000,4.000000,279.000000,17.000000,376.000000,7.000000,17.000000
50%,244.000000,0.000000,0.000000,9.000000,0.000000,0.0,6.000000,76.000000,3.000000,5.000000,330.000000,19.000000,392.000000,10.000000,21.000000
75%,377.000000,3.000000,12.000000,18.000000,0.000000,0.0,6.000000,93.000000,5.000000,24.000000,666.000000,20.000000,396.000000,16.000000,25.000000
max,506.000000,73.000000,100.000000,27.000000,1.000000,0.0,8.000000,100.000000,10.000000,24.000000,711.000000,21.000000,396.000000,37.000000,50.000000

In [11]:
df.columns

Index(['ID', 'crime rate', 'land zoned', 'non-retail business acres',
       'Charles River', 'nitrogen oxides concentration', 'number of rooms',
       'proportion of owner-occupied units', 'distances to employment centres',
       'accessibility to radial highways', 'property-tax',
       'pupil-teacher ratio', 'proportion of blacks',
       'status of the population', 'value of owner-occupied homes'],
      dtype='object')

признаки и целевая переменная

In [12]:
X, y = df[['ID', 'crime rate', 'land zoned', 'non-retail business acres', 'Charles River', 'nitrogen oxides concentration', 'number of rooms', 'proportion of owner-occupied units', 'distances to employment centres', 'accessibility to radial highways', 'property-tax', 'pupil-teacher ratio', 'proportion of blacks', 'status of the population']], df['value of owner-occupied homes']

In [119]:
X.head()

,ID,crime rate,land zoned,non-retail business acres,Charles River,nitrogen oxides concentration,number of rooms,proportion of owner-occupied units,distances to employment centres,accessibility to radial highways,property-tax,pupil-teacher ratio,proportion of blacks,status of the population
0,1,0,18,2,0,0,6,65,4,1,296,15,396,4
1,2,0,0,7,0,0,6,78,4,2,242,17,396,9
2,4,0,0,2,0,0,6,45,6,3,222,18,394,2
3,5,0,0,2,0,0,7,54,6,3,222,18,396,5
4,7,0,12,7,0,0,6,66,5,5,311,15,395,12

In [120]:
# Split the data into training/testing sets
X_train = X[:-20]
X_test = X[-20:]

In [121]:
# Split the targets into training/testing sets
y_train = y[:-20]
y_test = y[-20:]

In [122]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [123]:
X_train

array([[-1.69001937, -0.41428624,  0.28657897, ..., -1.30054964,
         0.4375686 , -1.11125812],
       [-1.68281634, -0.41428624, -0.49003763, ..., -0.41848672,
         0.4375686 , -0.41000048],
       [-1.66841028, -0.41428624, -0.49003763, ...,  0.02254474,
         0.41502948, -1.39176118],
       ...,
       [ 1.70981044, -0.00821653, -0.49003763, ...,  0.90460766,
         0.40375992,  0.29125717],
       [ 1.7242165 ,  0.66856631, -0.49003763, ...,  0.90460766,
        -0.05829207,  0.85226328],
       [ 1.73862256,  0.12714004, -0.49003763, ...,  0.90460766,
         0.4375686 ,  0.85226328]])

In [124]:
X_train = pd.DataFrame(X_train, columns=X.columns)
X_test = pd.DataFrame(X_test, columns=X.columns)

In [125]:
X_train.head()

,ID,crime rate,land zoned,non-retail business acres,Charles River,nitrogen oxides concentration,number of rooms,proportion of owner-occupied units,distances to employment centres,accessibility to radial highways,property-tax,pupil-teacher ratio,proportion of blacks,status of the population
0,-1.690019,-0.414286,0.286579,-1.22455,-0.261265,0.0,0.256493,-0.079940,0.349878,-0.983477,-0.626064,-1.300550,0.437569,-1.111258
1,-1.682816,-0.414286,-0.490038,-0.50219,-0.261265,0.0,0.256493,0.374356,0.349878,-0.866919,-0.951266,-0.418487,0.437569,-0.410000
2,-1.668410,-0.414286,-0.490038,-1.22455,-0.261265,0.0,0.256493,-0.778858,1.323316,-0.750362,-1.071711,0.022545,0.415029,-1.391761
3,-1.661207,-0.414286,-0.490038,-1.22455,-0.261265,0.0,1.510904,-0.464345,1.323316,-0.750362,-1.071711,0.022545,0.437569,-0.971007
4,-1.646801,-0.414286,0.027707,-0.50219,-0.261265,0.0,0.256493,-0.044994,0.836597,-0.517247,-0.535731,-1.300550,0.426299,0.010754

In [126]:
y_train.head()

0    24
1    21
2    33
3    36
4    22
Name: value of owner-occupied homes, dtype: int32

обучение

LinearRegression

In [70]:
# Create linear regression object
linear = LinearRegression()

In [71]:
# Train the model using the training sets
reg = LinearRegression().fit(X_train, y_train)
#the coefficient of determination R^2 of the prediction.
reg.score(X_train, y_train)

0.7110833673458947

In [74]:
# Make predictions using the testing set
y_pred = reg.predict(X_test)
y_pred

array([10.44827962, 17.98008354, 22.94861471, 23.19152432, 25.36023908,
       19.54761723, 18.33248647, 20.06075624, 19.90036676,  6.32795756,
       -2.82743816,  6.23419653,  8.81849658, 18.61141859, 17.028909  ,
       16.24749129, 22.09971202, 22.12306883, 25.05438233, 23.59403662])

In [75]:
# The coefficients
print('Coefficients: \n', reg.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_test, y_pred))

Coefficients:
 [-5.29559727e-01 -2.72860838e-01  1.49560810e+00  8.23553435e-02
  9.55740338e-01  1.33226763e-15  1.99884921e+00 -1.21388759e-01
 -2.65492621e+00  4.30136474e+00 -3.86359453e+00 -1.56420632e+00
  1.00918757e+00 -5.34532230e+00]
Mean squared error: 28.57
Variance score: -0.54

SVR

In [85]:
# Fit regression model
model = SVR()
print(model)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [86]:
# Fit the model
model.fit(X_train, y_train)
pred_y = model.predict(X_test)

In [106]:
for y_original, y_predicted in zip(y_test, pred_y):
    print(y_original,y_predicted)

12 11.3975429266732
14 14.987224908997895
21 16.684986070842914
23 20.57921687876453
23 21.357697996184
21 20.914911829717294
20 19.929141158032845
19 18.461806706750245
20 20.02275963276872
15 17.915846084148978
8 15.89517959224038
13 17.810783188403704
20 19.298454993506404
21 19.76976595484444
18 18.811899979574676
17 18.457692237055323
22 21.41583580156793
20 21.32568908935958
23 22.072798236983
11 21.759815969063197

In [112]:
mse =mean_squared_error(y_test, pred_y)
print("Mean Squared Error:",mse)

Mean Squared Error: 12.315903810669187

DecisionTreeRegressor

In [129]:
# Fit regression model
regr_1 = DecisionTreeRegressor(max_depth=2)
regr_2 = DecisionTreeRegressor(max_depth=5)
regr_1.fit(X_train, y_train)
regr_2.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=5, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [137]:
# Predict
y_1 = regr_1.predict(X_test)
y_2 = regr_2.predict(X_test)
print(y_1)
print(y_2)

[13.61904762 13.61904762 20.11494253 20.11494253 25.78846154 20.11494253
 20.11494253 20.11494253 20.11494253 13.61904762 13.61904762 13.61904762
 20.11494253 20.11494253 20.11494253 20.11494253 25.78846154 25.78846154
 25.78846154 25.78846154]
[19.         12.         21.02439024 21.02439024 50.         21.02439024
 21.02439024 21.02439024 21.02439024 15.63157895 15.63157895 15.63157895
 21.02439024 21.02439024 21.02439024 21.02439024 50.         50.
 50.         50.        ]

In [138]:
mse =mean_squared_error(y_test, y_1)
print("Mean Squared Error:",mse)
mse =mean_squared_error(y_test, y_2)
print("Mean Squared Error:",mse)

Mean Squared Error: 17.24354306624078
Mean Squared Error: 240.90294253354668